{{ define "body" }}
    <body class="{{ if .Site.Params.backgroundImage }} background-image" style="background-image: url('{{ .Site.Params.backgroundImage }}');" {{ else }}"{{ end }}>
{{ end }}

{{ define "main" }}
    <div class="content">
        <main class="home posts">
            <h1 class="home-name">{{ i18n "homeName" }}</h1>

            <div class="home-subtitle">{{ partial "subtitle.html" . }}</div>

            <p class="home-bio">{{ i18n "homeBio" }}</p>

            {{- with .Site.Params.social }}
                <div class="home-social">
                    {{ partial "social-icons.html" . }}
                </div>
            {{- end }}

            {{ $projects := (where .Site.RegularPages "Section" "projects").ByWeight }}
            {{ with $projects }}
                <section class="home-latest">
                    <h2 class="home-latest-title">{{ i18n "projects" }}</h2>
                    {{ partial "project-list.html" . }}
                    <a class="home-allposts" href="{{ "/projects/" | relLangURL }}">{{ i18n "allProjects" }}</a>
                </section>
            {{ end }}

            {{ $posts := (where .Site.RegularPages "Section" "posts").ByDate.Reverse }}
            {{ with $posts }}
                <section class="home-latest">
                    <h2 class="home-latest-title">{{ i18n "latestPosts" }}</h2>

                    <ul class="posts-list">
                        {{ range first 5 . }}
                            <li class="post-item">
                                <a href="{{ .Permalink }}" class="post-item-inner">
                                    <span class="post-title">{{ .Title }}</span>
                                    <span class="post-day">
                                        {{ if $.Site.Params.dateformShort }}
                                            {{ time.Format $.Site.Params.dateformShort .Date }}
                                        {{ else }}
                                            {{ time.Format "Jan 2" .Date }}
                                        {{ end }}
                                    </span>
                                </a>
                            </li>
                        {{ end }}
                    </ul>

                    <a class="home-allposts" href="{{ "/posts" | relLangURL }}">{{ i18n "allPosts" }}</a>
                </section>
            {{ end }}
        </main>
    </div>
{{ end }}
